article {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  article img {
    width: 100%;
    height: 100%;
  }
  article .box1 {
    position: relative;
    transition: 0.5s;
  }
  .content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s;
    z-index: 2;
  }
  .overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:black;
    background-color:#030b20;
   background: rgba(107, 151, 209, 0.2);
 border-radius: 16px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
  }
  article .box1:hover .overlay::after,
  article .box1:hover .overlay {
    opacity: 1;
    color: #030b20;
  }
  .container .catButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }
  .catButton button {
    text-transform: capitalize;
    margin-right: 20px;
  }

  